@if (avatarUrl()) {

    @if (linkProfile()) {
        <img class="userpicture" [url]="avatarUrl()" [alt]="computedFullname()" core-external-content (onLoad)="imageLoaded($event)"
            (ariaButtonClick)="gotoProfile($event)" [siteId]="computedSiteId()" [hidden]="imageError()">
    } @else {
        <img class="userpicture" [url]="avatarUrl()" [alt]="'core.pictureof' | translate:{$a: computedFullname()}" core-external-content
            (onLoad)="imageLoaded($event)" aria-hidden="true" [siteId]="computedSiteId()" [hidden]="imageError()">
    }

}
@if (!avatarUrl() || imageError()){
    @let initialsValue = initials.value();
    @if (initialsValue) {
        @if (linkProfile()) {
            <div class="userinitials" [attr.aria-label]="computedFullname()" [title]="computedFullname()"
                (ariaButtonClick)="gotoProfile($event)" [attr.data-initials]="initialsValue">
            </div>
        } @else {
            <div class="userinitials" [attr.aria-label]="'core.pictureof' | translate:{$a: computedFullname()}"
                [title]="'core.pictureof' | translate:{$a: computedFullname()}" role="img" [attr.data-initials]="initialsValue"
                aria-hidden="true">
            </div>
        }
    } @else {
        <!-- During loading -->
        <img class="userpicture_loading" src="assets/img/user-avatar.png" role="presentation" aria-hidden="true" alt="">
    }
}

@if (checkOnline() && isOnline()) {
    <span class="contact-status online" role="status" [attr.aria-label]="'core.online' | translate">
    </span>
}

<ng-content />
