@if (displaySiteLogo() && logoLoaded()) {
    <div class="core-logo-container">
        @if (siteLogo.value()) {
            <img [url]="siteLogo.value()" class="core-logo" [alt]="'core.login.logoof' | translate: { $a: siteName.value() }"
                core-external-content [siteId]="siteId()" (onLoad)="imageLoaded($event)" [hidden]="logoError()">
        }
        @if (!siteLogo.value() || logoError()) {
            <img [src]="fallbackLogo()" class="core-logo core-logo-fallback" [alt]="'core.login.logoof' | translate: { $a: appName }">
        }
    </div>
}

@if (showSiteName() && siteName.value()) {
    @switch (siteNameMode()) {
        @case ('p') {
            <p class="ion-no-margin ion-no-padding core-logo-sitename">
                <core-format-text [text]="siteName.value()" contextLevel="system" [contextInstanceId]="0" [siteId]="siteId()" />
            </p>
        }
        @case ('') {
            <core-format-text [text]="siteName.value()" contextLevel="system" [contextInstanceId]="0" class="core-logo-sitename"
                [siteId]="siteId()" />
        }
        @case ('h2') {
            <h2 class="ion-margin-top ion-no-padding core-logo-sitename">
                <core-format-text [text]="siteName.value()" contextLevel="system" [contextInstanceId]="0" [siteId]="siteId()" />
            </h2>
        }
    }
}
